<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PisosWebApp{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hello/site.css' %}">
</head>
<body>
    <!-- Barra Superior -->
    <header class="navbar">
        <div class="navbar-brand">PisosWebApp</div>
    </header>

    <div class="container">
        <!-- Menú Lateral -->
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'model_idealista' %}">Model Idealista</a></li>
                <li><a href="{% url 'hello:predict' %}">Predicciones</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'log' %}">Log Message</a></li>
            </ul>
        </nav>

        <!-- Contenido Principal -->
        <main class="body-content">
            {% block content %}
            {% endblock %}
            <hr>
            <footer>
                <p>&copy; {% now "Y" %}</p>
            </footer>
        </main>
    </div>
</body>
</html>
